.appBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  z-index: 1;
  @include adaptiveValue('gap', 16, 12, $tablet, $mobileSmall);

  &.home {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: var(--brand-color);
    padding-top: 16px;
    padding-left: 64px;
    padding-right: 64px;

    @media (max-width: rem($tablet)) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (max-width: rem($mobile)) {
      @include adaptiveValue('padding-top', 16, 18, $mobile, $mobileSmall);
      @include adaptiveValue('padding-left', 32, 20, $mobile, $mobileSmall);
      @include adaptiveValue('padding-right', 32, 20, $mobile, $mobileSmall);
      @include adaptiveValue('border-top-left-radius', 60, 30, $mobile, $mobileSmall);
      @include adaptiveValue('border-top-right-radius', 60, 30, $mobile, $mobileSmall);
    }
  }
}
