.myNoticesHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 40px;
}

.btn.switcher {
  padding: 14px;
  flex-basis: 142px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding', 14, 12, $mobileMedium, $mobileSmall);
    @include adaptiveValue('flex-basis', 142, 123, $mobileMedium, $mobileSmall);
  }
}
