.btn {
  border-radius: 30px;
  padding: 15px;
  background-color: var(--beige-color);
  transition: background-color 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--beige-color-dark);
    }
  }
  &:focus {
    background-color: var(--beige-color-dark);
  }

  &.disabled {
    cursor: not-allowed;
  }

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding', 15, 14, $mobileMedium, $mobileSmall);
  }

  .icon {
    fill: var(--brand-color);
    width: 18px;
    aspect-ratio: 1;
    display: flex;
  }
}

.small {
  padding: 10px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding', 10, 7, $mobileMedium, $mobileSmall);

    .icon {
      @include adaptiveValue('width', 18, 16, $mobileMedium, $mobileSmall);
    }
  }
}
