.field {
  // Все залежить від поля inputRoot: воно приймає стан та класи
  // hover (:hover), focus (Mui-focused), error (.Mui-error)
  .inputRoot {
    border-radius: 30px;
    width: 100%;
    padding: 0;

    fieldset {
      border: 1px solid var(--grey-color-light);
      transition: border-color 0.3s;
      padding: 0;
    }

    &:hover fieldset {
      border-color: var(--brand-color);
    }
  }

  // field приймає класс filled
  &.filled {
    .inputRoot {
      fieldset {
        border: 1px solid var(--brand-color);
      }
    }
  }
}

// focus (MUI додає клас .Mui-focused на той же елемент, що має .inputRoot)
:global(.Mui-focused).inputRoot fieldset {
  border: 1px solid var(--brand-color) !important;
}

// error (MUI додає клас .Mui-error на той же елемент, що має .inputRoot)
:global(.Mui-error).inputRoot fieldset {
  border-color: var(--error-color);
}

// ==========================================================================================================================

// Стилізація "інпута" (секцій)
.field :global(.MuiPickersSectionList-root) {
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  opacity: 1;
  padding: 16px;
  padding-right: 0;
}

.field :global(.MuiPickersSectionList-section),
.field :global(.MuiPickersSectionList-section > span) {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

/* Плейсхолдер: коли значення порожнє (клас .filled НЕ проставлений) */
.field:not(.filled) :global(.MuiPickersSectionList-root) {
  color: var(--grey-color);
}

/* Введене значення: коли поле заповнене (є клас .filled) */
.field.filled :global(.MuiPickersSectionList-root),

/* Коли фокус на всьому полі */
:global(.Mui-focused).inputRoot :global(.MuiPickersSectionList-root) {
  color: var(--main-color);
}

// ==========================================================================================================================

// Calendar icon
.field .inputRoot .calendarIcon {
  margin-right: 7px; // 15px (padding) - 8px
  :global(.MuiSvgIcon-root) {
    fill: var(--main-color);
  }
}

// ==========================================================================================================================
