.link {
  border: 1px solid var(--grey-color-light);
  border-radius: 30px;
  padding: 14px 20px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--brand-color);
    }
  }
  &:focus {
    border-color: var(--brand-color);
  }

  @media (max-width: rem($tablet)) {
    width: 100%;
    text-align: center;
  }

  @media (max-width: rem($mobileSmall)) {
    font-size: 14px;
    line-height: 1.28571;
  }
}

.active {
  border-color: var(--brand-color);
}

.link.outline {
  border: 1px solid var(--white-color-transparent2);
  background-color: transparent;
  color: var(--white-color);

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--white-color);
    }
  }
  &:focus {
    border-color: var(--white-color);
  }
}
