.link {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 14px 20px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      border-color: $brandColor;
    }
  }
  &:focus {
    border-color: $brandColor;
  }

  @media (max-width: rem($tablet)) {
    width: 100%;
    text-align: center;
  }

  @media (max-width: rem($mobileSmall)) {
    font-size: 14px;
    line-height: 1.28571;
  }
}

.active {
  border-color: $brandColor;
}

.link.outline {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  color: $whiteColor;

  @media (any-hover: hover) {
    &:hover {
      border-color: $whiteColor;
    }
  }
  &:focus {
    border-color: $whiteColor;
  }
}
