.profile {
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: rem($tabletAfter)) {
    gap: 32px;
    display: grid;
    grid-template-columns: calc((520 / 1216) * 100%) calc((664 / 1216) * 100%);
    align-items: start;
  }

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding-top', 32, 18, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-bottom', 32, 18, $mobileMedium, $mobileSmall);
  }
}

.loader {
  margin-top: 100px;
  margin-bottom: 100px;
}
