.link {
  border-radius: 30px;
  padding: 15px 35px;
  background-color: $brandColor;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: $whiteColor;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: $brandColorDark;
    }
  }
  &:focus {
    background-color: $brandColorDark;
  }

  @media (max-width: rem($mobileSmall)) {
    font-size: 14px;
    line-height: 1.28571;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.link.outline {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (any-hover: hover) {
    &:hover {
      background-color: $beigeColor;
      color: $brandColor;
    }
  }
  &:focus {
    background-color: $beigeColor;
    color: $brandColor;
  }

  @media (max-width: rem($mobileSmall)) {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.link.light {
  background-color: $beigeColor;
  color: $brandColor;
  border: none;

  @media (any-hover: hover) {
    &:hover {
      background-color: $beigeColorDark;
    }
  }
  &:focus {
    background-color: $beigeColorDark;
  }
}

.link.lowerСase {
  padding: 14px 24px;
  text-transform: unset;
  font-weight: 500;
}
