.userPetsItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--grey-color-light2);
  border-radius: 20px;
  @include adaptiveValue('padding', 19, 16, $pc, $tablet);

  @media (max-width: rem($tablet)) {
    @include adaptiveValue('padding', 19, 16, $tablet, $mobile);
  }

  @media (max-width: rem($mobileBefore)) {
    @include adaptiveValue('padding', 19, 16, $mobileBefore, $mobileSmall);
  }
}

.imgBlock {
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  @include adaptiveValue('width', 90, 75, $pc, $tablet);

  @media (max-width: rem($tablet)) {
    @include adaptiveValue('width', 90, 75, $tablet, $mobile);
  }

  @media (max-width: rem($mobileBefore)) {
    @include adaptiveValue('width', 75, 66, $mobileBefore, $mobileSmall);
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBlock {
  flex-grow: 1;
  margin-left: 25px;
  margin-right: 4px;
  align-self: center;
  @include adaptiveValue('margin-left', 25, 14, $pc, $tablet);

  @media (max-width: rem($tablet)) {
    @include adaptiveValue('margin-left', 25, 14, $tablet, $mobile);
  }

  @media (max-width: rem($mobileBefore)) {
    @include adaptiveValue('margin-left', 25, 14, $mobileBefore, $mobileSmall);
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  margin-bottom: 12px;

  @media (max-width: rem($mobileBefore)) {
    @include adaptiveValue('margin-bottom', 12, 8, $mobileBefore, $mobileSmall);
  }
}

.datails {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  @include adaptiveValue('column-gap', 27, 10, $pc, $tablet);

  @media (max-width: rem($tablet)) {
    @include adaptiveValue('column-gap', 20, 10, $tablet, $mobile);
  }

  @media (max-width: rem($mobileBefore)) {
    @include adaptiveValue('column-gap', 27, 10, $mobileBefore, $mobileSmall);
  }
}

.datailsItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.datailsTitle {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--grey-color);
}

.datailsValue {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  &::first-letter {
    text-transform: uppercase;
  }
}

.btn {
  flex-shrink: 0;
}
