.modalChildAttention {
  text-align: center;
}

.iconPet {
  margin: 0 auto;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: var(--brand-color);
  margin-bottom: 20px;
}

.text {
  margin-bottom: 28px;
  max-width: 346px;

  p {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;

  @media (max-width: rem($mobileMedium)) {
    width: 135px;
  }
}
