.addPetBlock {
  border-radius: 60px;
  background-color: $whiteColor;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue('padding-top', 60, 40, $pc, $mobile);
  @include adaptiveValue('padding-bottom', 60, 40, $pc, $mobile);

  @media (max-width: rem($mobileMedium)) {
    border-radius: 30px;
    @include adaptiveValue('padding-left', 32, 20, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-right', 32, 20, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-top', 40, 28, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-bottom', 40, 28, $mobileMedium, $mobileSmall);
  }
}

// ==========================================================================================================================

.addPetForm {
  width: 100%;
  max-width: 432px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 40px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('margin-bottom', 40, 24, $mobileMedium, $mobileSmall);
  }

  .bigTitle {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.03em;

    @media (max-width: rem($mobileMedium)) {
      @include adaptiveValue('font-size', 32, 28, $mobileMedium, $mobileSmall);
    }
  }

  .smallTitle {
    font-weight: 700;
    line-height: 1.25;
    color: var(--grey-color-light3);

    @media (max-width: rem($mobileMedium)) {
      line-height: 1.28571;
      @include adaptiveValue('font-size', 16, 14, $mobileMedium, $mobileSmall);
    }
  }
}

// ==========================================================================================================================

// Sex

.sexButtonsBlock {
  margin-bottom: -16px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('margin-bottom', -16, 8, $mobileMedium, $mobileSmall);
  }
}

.sexButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnSex {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('width', 40, 32, $mobileMedium, $mobileSmall);
  }

  .iconSex {
    width: 24px;
    aspect-ratio: 1;
    transition: fill 0.3s;

    @media (max-width: rem($mobileMedium)) {
      @include adaptiveValue('width', 24, 20, $mobileMedium, $mobileSmall);
    }
  }
}

.btnFemale {
  background-color: var(--pink-color-light);

  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      background-color: var(--pink-color);

      .iconSex {
        fill: var(--white-color);
      }
    }
  }
  &:focus {
    background-color: var(--pink-color);

    .iconSex {
      fill: var(--white-color);
    }
  }

  .iconSex {
    fill: var(--pink-color);
  }

  &.active {
    background-color: var(--pink-color);

    .iconSex {
      fill: var(--white-color);
    }
  }
}

.btnMale {
  background-color: var(--blue-color-light);

  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      background-color: var(--blue-color);

      .iconSex {
        fill: var(--white-color);
      }
    }
  }
  &:focus {
    background-color: var(--blue-color);

    .iconSex {
      fill: var(--white-color);
    }
  }

  .iconSex {
    fill: var(--blue-color);
  }

  &.active {
    background-color: var(--blue-color);

    .iconSex {
      fill: var(--white-color);
    }
  }
}

.btnUnknown {
  background-color: var(--beige-color);

  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      background-color: var(--brand-color);

      .iconSex {
        fill: var(--white-color);
      }
    }
  }
  &:focus {
    background-color: var(--brand-color);

    .iconSex {
      fill: var(--white-color);
    }
  }

  .iconSex {
    fill: var(--brand-color);
  }

  &.active {
    background-color: var(--brand-color);

    .iconSex {
      fill: var(--white-color);
    }
  }
}

// ==========================================================================================================================

// Photo

.photo {
  margin: 0 auto;
  width: 86px;
  aspect-ratio: 1;
  background-color: var(--beige-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 12px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('width', 86, 68, $mobileMedium, $mobileSmall);
    @include adaptiveValue('margin-bottom', 12, 16, $mobileMedium, $mobileSmall);
  }
}

.iconPet {
  width: 44px;
  aspect-ratio: 1;
  fill: var(--brand-color);

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('width', 44, 34, $mobileMedium, $mobileSmall);
  }
}

.petPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ==========================================================================================================================

.fieldsBlock {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-bottom: 40px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('gap', 18, 10, $mobileMedium, $mobileSmall);
    @include adaptiveValue('margin-bottom', 40, 32, $mobileMedium, $mobileSmall);
  }
}

.labelPhoto {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-start;

  .fieldWrap {
    flex-grow: 1;
  }

  .btnPhoto {
    flex-shrink: 0;
  }
}

.field {
  border: 1px solid var(--grey-color-light);
  border-radius: 30px;
  padding: 15px;
  width: 100%;
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: $mainColor;
  outline: none;
  transition: all 0.3s ease 0s;

  @media (max-width: rem($mobileMedium)) {
    padding: 11px;
    font-size: 14px;
    line-height: 1.28571;
  }

  &::placeholder {
    color: var(--grey-color);
  }

  &:hover,
  &:focus {
    border-color: var(--brand-color);
  }

  &.filled {
    border-color: var(--brand-color);
  }

  .label.error & {
    border-color: var(--error-color);
  }

  &.fieldPhoto {
    padding: 11px;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;

    @media (max-width: rem($mobileMedium)) {
      padding: 8px 9px;
    }
  }
}

// ==========================================================================================================================

.fieldError {
  display: block;
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: $errorColor;

  @media (max-width: rem($mobileMedium)) {
    margin-left: 12px;
    margin-right: 12px;
  }

  .sexButtonsBlock & {
    margin-left: 0;
    margin-right: 0;
  }

  .labelPhoto & {
    margin-left: 12px;
    margin-right: 12px;

    @media (max-width: rem($mobileMedium)) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

// ==========================================================================================================================

// footer

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.link,
.btn {
  flex-basis: 170px;
}
