// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: 'Manrope', sans-serif; // Шрифт за замовчуванням
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #262626;
$bgColor: #f9f9f9;
$brandColor: #f6b83d;
$brandColorDark: #f9b020;
$beigeColor: #fff4df;
$beigeColorDark: #fbe7c1;
$whiteColor: #fff;
$errorColor: #ef2447;
$correctColor: #08aa83;

// Основні кольори (завжди змінні на ванільному CSS)
:root {
  --main-color: #262626;
  --bg-color: #f9f9f9;
  --brand-color: #f6b83d;
  --brand-color-dark: #f9b020;
  --beige-color: #fff4df;
  --beige-color-dark: #fbe7c1;
  --white-color: #fff;
  --error-color: #ef2447;
  --correct-color: #08aa83;
  --light-color: #f4f4f4;
  --grey-color: rgba(38, 38, 38, 0.5);
  --grey-color-light: rgba(38, 38, 38, 0.15);
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1280;
// Ширина обмежуючого контейнера (0 = немає обмеження), з відступами
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 64;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth;

$tabletAfter: 992.02;
$tablet: 992;
$tabletBefore: 991.98;

$mobileAfter: 768.02;
$mobile: 768;
$mobileBefore: 767.98;

$mobileMediumAfter: 600.02;
$mobileMedium: 600;
$mobileMediumBefore: 599.98;

$mobileSmallAfter: 375.02;
$mobileSmall: 375;
$mobileSmallBefore: 374.98;

// Тип адаптива:
// 1 - Тільки зменшення - КЛАСИКА (від максимального значення до мінімального значення). Ви можете вказати цегляні (приклад: @include adaptiveValue("column-gap", 15, 5); или @include adaptiveValue("column-gap", 15, 5, 992, 480);)
// 2 - Лише для збільшення - MOBILE FIRST (від початкового значення до максимального значення. Breikpoints можна вказати (приклад: @include adaptiveValue("column-gap", 17, 30, 2, 992, 1920); або @include adaptiveValue("column-gap", 17, 30, 2, 992, 1920, 1);)
// 3 - Безмежне збільшення та зменшення - місце гуми. Те саме, що і перший тип, але не має максимального обмеження (обмежуючий контейнер)
$adaptiveType: 1;

// Остаточний viewport залежно від типу адаптива
$minMaxWidthType: $minWidth;
@if $adaptiveType == 2 {
  $minMaxWidthType: $maxWidth;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
