.logoLink {
  font-weight: 700;
  letter-spacing: -0.04em;
  display: flex;
  align-items: flex-end;
  font-size: 28px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('font-size', 28, 20, $mobileMedium, $mobileSmall);
  }

  &.home {
    color: $whiteColor;
  }

  @media (max-width: rem($tablet)) {
    flex-grow: 1;
  }
}

.iconHeart {
  fill: $brandColor;
  width: rem(23);
  height: rem(23);

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('width', 23, 17, $mobileMedium, $mobileSmall);
    @include adaptiveValue('height', 23, 17, $mobileMedium, $mobileSmall);
  }

  .home & {
    fill: $whiteColor;
  }
}
