.button {
  border-radius: 30px;
  padding: 15px 35px;
  background-color: var(--brand-color);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--brand-color-dark);
    }
    &:focus {
      background-color: var(--brand-color-dark);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  // outline
  &.outline {
    border: 1px solid var(--white-color-transparent2);
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: transparent;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--beige-color);
        color: var(--brand-color);
      }
      &:focus {
        background-color: var(--beige-color);
        color: var(--brand-color);
      }
    }

    @media (max-width: rem($mobileMedium)) {
      @include adaptiveValue('padding-top', 14, 11, $mobileMedium, $mobileSmall);
      @include adaptiveValue('padding-bottom', 14, 11, $mobileMedium, $mobileSmall);
    }
  }

  &.light {
    background-color: var(--beige-color);
    color: var(--brand-color);
    border: none;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--beige-color-dark);
      }
      &:focus {
        background-color: var(--beige-color-dark);
      }
    }
  }

  // grey
  &.grey {
    background: var(--grey-color-light5);
    color: var(--main-color);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--brand-color-dark);
        color: var(--white-color);
      }
      &:focus {
        background-color: var(--brand-color-dark);
        color: var(--white-color);
      }
    }
  }

  // lowerCase
  &.lowerCase {
    text-transform: unset;
    font-weight: 500;
  }

  // small
  &.small {
    padding: 14px 24px;

    @media (max-width: rem($mobileMedium)) {
      @include adaptiveValue('padding-top', 15, 12, $mobileMedium, $mobileSmall);
      @include adaptiveValue('padding-bottom', 15, 12, $mobileMedium, $mobileSmall);
    }
  }

  // inactive
  &.inactive {
    background-color: var(--white-color);
    color: var(--main-color);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--beige-color-dark);
      }
      &:focus {
        background-color: var(--beige-color-dark);
      }
    }
  }

  // Mobile styles
  @media (max-width: rem($mobileMedium)) {
    line-height: 1.28571;
    @include adaptiveValue('font-size', 16, 14, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-top', 15, 12, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-bottom', 15, 12, $mobileMedium, $mobileSmall);
  }
}
