.searchForm {
  position: relative;
  height: 48px;
  width: 100%;

  @media (max-width: rem($mobileMedium)) {
    height: 42px;
  }
}

.field {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(38, 38, 38, 0.15);
  background-color: transparent;
  border-radius: 30px;
  padding-left: 14px;
  padding-right: 58px;
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: $mainColor;
  outline: none;
  transition: all 0.3s ease 0s;

  .light & {
    border-color: $whiteColor;
    background-color: $whiteColor;
  }

  @media (max-width: rem($mobileMedium)) {
    line-height: 1.28571;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 56px;
  }

  &::placeholder {
    color: rgba(38, 38, 38, 0.5);

    .light & {
      color: $mainColor;
    }
  }

  &:hover,
  &:focus {
    border-color: $brandColor;
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: rem($mobileMedium)) {
    right: 12px;
  }

  &.reset {
    right: 36px;
    display: none;

    @media (max-width: rem($mobileMedium)) {
      right: 34px;
    }

    &.visible {
      display: flex;
    }
  }
}

.fieldIcon {
  width: 18px;
  height: 18px;
  fill: $mainColor;
}
