// React Modal Styles
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 38, 38, 0.3);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%); - Прописано у самій модалці
  // Пояснення:
  // framer-motion не читає transform: translate(-50%, -50%) з CSS.
  // Він повністю перезаписує transform, тому треба явно вказати x і y.
  // Використання x: '-50%' і y: '-50%' повторює translate(-50%, -50%).
  background: $whiteColor;
  border-radius: 30px;
  padding: 80px 20px;
  width: auto;
  max-width: 90%;
  max-height: 95vh;
  overflow-y: auto;
  z-index: 1001;

  @media (max-width: rem($mobileMedium)) {
    padding: 40px 20px;
  }
}

.modal.padding80To80 {
  padding: 80px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding-top', 80, 40, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-bottom', 80, 40, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-left', 80, 28, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-right', 80, 28, $mobileMedium, $mobileSmall);
  }

  @media (max-width: rem($mobileSmall)) {
    @include adaptiveValue('padding-left', 28, 20, $mobileSmall);
    @include adaptiveValue('padding-right', 28, 20, $mobileSmall);
  }
}

.modal.padding60To60 {
  padding: 60px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding-top', 60, 40, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-bottom', 60, 40, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-left', 60, 20, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-right', 60, 20, $mobileMedium, $mobileSmall);
  }
}

.modal.padding40To50 {
  padding: 40px 50px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding-left', 50, 28, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-right', 50, 28, $mobileMedium, $mobileSmall);
  }

  @media (max-width: rem($mobileSmall)) {
    @include adaptiveValue('padding-left', 28, 20, $mobileSmall);
    @include adaptiveValue('padding-right', 28, 20, $mobileSmall);
  }
}

.modal.padding50To50 {
  padding: 50px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding-top', 50, 40, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-bottom', 50, 40, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-left', 40, 20, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-right', 40, 20, $mobileMedium, $mobileSmall);
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconClose {
  width: 24px;
  height: 24px;
  fill: $mainColor;
}
