.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userAvatarWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--beige-color);
  overflow: hidden;

  @media (max-width: rem(600)) {
    height: 40px;
    width: 40px;
  }
}

.iconUser {
  width: 24px;
  height: 24px;
  fill: $brandColor;

  @media (max-width: rem(600)) {
    width: 20px;
    height: 20px;
  }
}

.userAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.03em;
  max-width: 180px;

  .light & {
    color: $whiteColor;
  }
}
