.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;

  @media (max-width: rem($mobileMedium)) {
    flex-direction: column;

    .link {
      width: 100%;
      text-align: center;
    }
  }
}

.link.registration {
  padding-left: 20px;
  padding-right: 20px;
}
