#root {
  height: 100%;
}

.extra-container {
  padding-left: 32px;
  padding-right: 32px;
  @include adaptiveValue('padding-left', 32, 0, $pc, $mobile);
  @include adaptiveValue('padding-right', 32, 0, $pc, $mobile);
}
