.article {
  border-radius: 16px;
  background-color: var(--white-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrap {
  height: 178px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;

  @media (max-width: rem($mobileMedium)) {
    aspect-ratio: 278/178;
    height: auto;
  }

  @media (max-width: rem($mobileSmall)) {
    height: 178px;
    aspect-ratio: unset;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 8px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--main-color);

  @media (max-width: rem($mobileMedium)) {
    line-height: 1.25;
    @include adaptiveValue('font-size', 18, 16, $mobileMedium, $mobileSmall);
  }
}

.popularity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.popularityIcon {
  width: 16px;
  height: 16px;
  fill: var(--brand-color);
}

.popularityValue {
  font-size: 14px;
  line-height: 1.42857;
}

.datails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  @include adaptiveValue('gap', 20, 5, $pc, $tablet);

  @media (max-width: rem($tablet)) {
    @include adaptiveValue('gap', 20, 16, $tablet, $mobile);
  }

  @media (max-width: rem($mobile)) {
    @include adaptiveValue('gap', 16, 5, $mobile, $mobileMedium);
  }

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('gap', 20, 14, $mobileMedium, $mobileSmall);
  }

  @media (max-width: rem($mobileSmall)) {
    @include adaptiveValue('gap', 14, 5, $mobileSmall);
  }
}

.datailsItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.datailsTitle {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.datailsValue {
  line-height: 1.16667;
  letter-spacing: -0.02em;
  &::first-letter {
    text-transform: uppercase;
  }
  @include adaptiveValue('font-size', 12, 11, $pc, $tablet);

  @media (max-width: rem($tablet)) {
    font-size: 12px;
  }

  @media (max-width: rem($mobile)) {
    @include adaptiveValue('font-size', 12, 10, $mobile, $mobileMedium);
  }

  @media (max-width: rem($mobileMedium)) {
    font-size: 12px;
  }

  @media (max-width: rem($mobileSmall)) {
    @include adaptiveValue('font-size', 12, 11, $mobileSmall);
  }
}

.comment {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  flex-grow: 1;
  margin-bottom: 24px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('margin-bottom', 24, 16, $mobileMedium, $mobileSmall);
  }
}

.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  margin-bottom: 12px;

  @media (max-width: rem($mobileMedium)) {
    line-height: 1.25;
    @include adaptiveValue('font-size', 18, 16, $mobileMedium, $mobileSmall);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.learnMore {
  flex-grow: 1;
}
