.fieldsWrap {
  display: flex;
  gap: 16px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('gap', 16, 8, $mobileMedium, $mobileSmall);
  }

  @media (max-width: rem($mobileMedium)) {
    width: 100%;
  }
}
