.userAddPet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
}

.link.linkAdd {
  padding: 10px 20px;

  @media (max-width: rem($mobileMedium)) {
    @include adaptiveValue('padding-left', 20, 16, $mobileMedium, $mobileSmall);
    @include adaptiveValue('padding-right', 20, 16, $mobileMedium, $mobileSmall);
  }
}

.iconAdd {
  width: 18px;
  aspect-ratio: 1;
  fill: var(--white-color);
}
